{{- if .Values.config.create }}
{{- $defaultConfig := dict "gateway" (dict "mode" "local" "auth" (dict "mode" .Values.gatewayAuth.mode "password" "${OPENCLAW_GATEWAY_PASSWORD}" "token" "${OPENCLAW_GATEWAY_TOKEN}")) -}}
{{- $configData := deepCopy $defaultConfig -}}
{{- if .Values.config.data }}
{{- $configData = mergeOverwrite $configData (deepCopy .Values.config.data) -}}
{{- end }}
{{- if .Values.config.plugins.entries }}
{{- $plugins := default (dict) (get $configData "plugins") -}}
{{- $_ := set $plugins "entries" .Values.config.plugins.entries -}}
{{- $_ := set $configData "plugins" $plugins -}}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "openclaw.fullname" . }}-config
  namespace: {{ .Values.namespace.name | quote }}
  labels:
    {{- include "openclaw.labels" . | nindent 4 }}
type: Opaque
stringData:
  openclaw.json: |-
    {{- if .Values.config.json }}
    {{- tpl .Values.config.json . | nindent 4 }}
    {{- else }}
    {{- toPrettyJson $configData | nindent 4 }}
    {{- end }}
{{- end }}
